.ranking-page {
  align-items: center;
  background-image: url('../images/TriviaRanking.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.ranking-logo {
  animation: animate 3s linear infinite;
  color: #9CF0FA;
}

.ranking-section {
  align-items: center;
  background-color: rgba(1, 6, 37, 0.8);
  border: 1px solid #eda1f7;
  box-shadow: 3px 3px 10px #eda1f7;
  color: #F6F5FC;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  max-height: 65.5vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 20px 0 15px 0;
}

.player-ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  margin-bottom: 15px;
  width: 25em;
}

.player-img-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.player-img-rk {
  align-self: flex-start;
  border-radius: 50%;
  width: 60px;
}

.rk-score {
  color: #FE75FE;
}

.underline {
  background-color: #F6F5FC;
  height: 1px;
  width: 60%;
}

.play-btn {
  background-color: rgba(1, 6, 37, 0.8);
  border: 2px solid #9CF0FA;
  color: #9CF0FA;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-top: 8px;
  outline: none;
  padding: 7px;
  width: 9em;
}

.play-btn:hover {
  background-color: #9CF0FA;
  border: 2px solid #9CF0FA;
  color: #010625;
}

@media screen and (max-width: 490px) {
  .ranking-page {
    gap: 28px;
  }

  .ranking-section {
    width: 88%;
  }
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: rgba(1, 6, 37, 0.4);
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #9CF0FA;
  }
}
